@import "tailwindcss";

@theme {
  --color-bg: #020617;
  --color-bg-secondary: #0f172a;
  --color-primary: #1e293b;
  --color-accent: #38bdf8;
  --color-light: #f1f5f9;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}
