# Dependencies
node_modules/

# Build output
dist/
build/

# Environment variables (secretos - NO subir)
.env
*.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS / Editor
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea

# Arquivos de prueba de compose
.compose-test.yml
